/* dzien w kalendarzu */
#dzien{
    padding:15px;
    text-align: center;
}

.burger-menu {
    display: none;
}

.burger-menu.active {
    display: flex;
    flex-direction: column;
}

/* responsywnosc */

@media (min-width: 1024px) {
    .main{
        min-height: 700px !important;
        margin-top: 10px;
    }
    .container{
        margin-top: 25px;
        margin-bottom: 0;
    }

}